<!DOCTYPE html>
<html lang="">

<head>
	<%-include(head) %>
</head>

<body>
	<%-include(navbar) %>
		<div class="container-fluid attribute-sets" id="start-offset" style="min-height: 100%">
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
		</div>

		<%-include(scripts) %>
			<%-include(background) %>

</body>

</html>