<!DOCTYPE html>
<html lang="">

<head>
	<%-include(head) %>
</head>

<body>
	<navbar>
		<template id="AppTemp">
			<a class='mini-broad' app-role="link">
            <img app-role="AppIcon">
        </a>
		</template>
		<template id="FbPad">
			<div class="user-account">
				<div class="fb-avatar">
					<span class="username-text" app-role="fbName"></span>
					<span class="avatar-img"><img app-role = "fbAvatar">
                        </span>
				</div>
			</div>
		</template>
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
		<div id="nav-wrapper">
			<div id="nav" class="navbar navbar-inverse navbar-static-top navbar" role="navigation">
				<div class="container">
					<div class="row">
						<div class="logo-img">
							<img src="imgs/CatLogo.png" class="logo">
						</div>
						<div class='site-name hidden-xs'>
							AbcJSC
						</div>
						<div>
							<div app-role='removeAfterLogin'>
								<button class="btn btn-facebook" id="bntFbLogin">
                                <i class="fa fa-facebook"></i><span> Login with Facebook</span>
                            </button>
							</div>
						</div>
						<span class="hambugger" onclick="toggleMenu()">
                            <span class="menu-bar"></span>
						</span>
						<div id="menuBroad" class="menu-board">
							<div id="AppManagerBoard" class="mini-broad-cover">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</navbar>
	<div class="container-fluid attribute-sets" id="start-offset" style="min-height: 100%">

	</div>
	<%-include(scripts) %>
		<%-include(background) %>
			<script>
				var systoken;
				var fbId;
				var fbToken;
				var RSAPublicKey;
				var data = <%- JSON.stringify(data) %>;
				var navbar = document.querySelector("navbar");
				$(document).ready(function () {
					function init(height) {
						$('#nav').affix({
							offset: {
								top: function () {
									// Do other stuff here-- chipl							
									// return $('#start-offset').offset().top / 2;
									return height;
								}
							}
						});
					}
					init(250);
					LoadApp();


					function LoadApp() {
						var root = document.getElementById("AppManagerBoard");
						var AppTemplate = document.getElementById('AppTemp').content;
						var pathArray = window.location.pathname.split('/');
						remove = pathArray.splice(pathArray.length - 2, 2);
						var newPathname = "";
						for (i = 0; i < pathArray.length; i++) {
							newPathname += pathArray[i];
							newPathname += "/";
						}
						for (var i in data) {
							var link = AppTemplate.querySelector('[app-role = "link"]')
							var icon = AppTemplate.querySelector('[app-role = "AppIcon"]');
							var caption = AppTemplate.querySelector('[app-role = "Caption"]');
							link.setAttribute('href', window.location.protocol + '//' + window.location.host + newPathname + data[i].url);
							icon.setAttribute('src', window.location.protocol + '//' + window.location.host + newPathname + data[i].logo);
							// caption.innerHTML = data[i].name;
							root.appendChild(document.importNode(AppTemplate, true));
							if (i == data.length) {
								var offsetWidth = root.offsetWidth;
								root.style.right = "-" + offsetWidth + "px";
							}
						}
					};
				});

				function toggleMenu() {
					document.getElementById('nav').classList.toggle('menu-active');
				}

				getStatus = function (objFb) {
					// console.log(objFb);
					if (objFb.loginStatus == "connected") {
						removedElement = document.querySelector("[app-role = 'removeAfterLogin']");
						var fbPad = document.getElementById("FbPad").content;
						var fbAvatar = fbPad.querySelector('[app-role = "fbAvatar"]');
						var fbName = fbPad.querySelector('[app-role = "fbName"]');
						fbAvatar.setAttribute("src", objFb.fbAvatar);
						fbName.innerHTML = objFb.fbName;
						fbId = objFb.fbId;
						fbToken = objFb.fbToken;
						if (!systoken) {
							systoken = localStorage.getItem("app_token");
							checkToken(objFb.fbId, systoken, RSAPublicKey, afterCheckToken);
						} else {
							getToken(fbId, fbToken, RSAPublicKey, afterGetToken);
						}

						var parent = removedElement.parentNode;
						parent.removeChild(removedElement);
						parent.appendChild(document.importNode(fbPad, true));
						// btn-primary
						// conBnt = document.getElementById('bntCon');
						// conBnt.classList.add('btn-info');
						// conBnt.innerHTML = "Get system Token";

					}
				}

				function afterGetToken(token) {
					systoken = token;
					console.log("from afterGetToken: ", token);
				}

				function afterCheckToken(result) {
					if (result.errNum != 0) {
						getToken(fbId, fbToken, RSAPublicKey, afterGetToken);
						return;
					}
				}


				function getToken(uid, fbToken, RSAPublicKey, fn_cb) {
					var _data = {
						userName: uid,
						password: fbToken
					};
					aes_key = cryptoUtil.generateAESKey();
					var json_data = {
						data: cryptoUtil.EncryptJSON(_data, RSAPublicKey, aes_key)
					};
					// Make post request to getToken Endpoint
					var currentUrl = '../../getToken';
					$.ajax({
						// url: './userToken',
						url: currentUrl,
						method: 'POST',
						data: json_data,
						// data: compObj,
						complete: function (data, status, jqXHR) {
							if (!data.responseJSON.errNum) {
								var encrypted_app_token = data.responseJSON.encrypted_app_token;
								var _app_token = cryptoUtil.aesDecryptor(encrypted_app_token, aes_key);
								app_token = JSON.parse(_app_token).app_token;
								localStorage.setItem("app_token", app_token);
								if (fn_cb) {
									fn_cb(app_token);
								}
							}
						}
					});
				}

				function checkToken(uid, token, RSAPublicKey, fn_cb) {
					var _data = {
						userName: uid,
						password: token
					};
					aes_key = cryptoUtil.generateAESKey();
					var json_data = {
						data: cryptoUtil.EncryptJSON(_data, RSAPublicKey, aes_key)
					};
					var currentUrl = '../../checkToken';
					$.ajax({
						// url: './userToken',
						url: currentUrl,
						cache: false,
						method: 'POST',
						headers: {
							"cache-control": "no-cache"
						},
						data: json_data,
						// contentType:'application/json',
						complete: function (data, status, jqXHR) {
							// if (data.status == 401) {
							//     window.location = "/";
							// }
							if (fn_cb) {
								fn_cb(data.responseJSON);
							}

						}
					});
				}
				var bntFbLogin = document.getElementById('bntFbLogin');
				var fb = new fbHandler(getStatus, bntFbLogin);
			</script>
</body>

</html>