<!DOCTYPE html>
<html lang="">

<head>
	<%-include(head) %>
</head>

<body>
	<%-include(navbar) %>
	<section class="heading-page" style="background:url('imgs/gamebanner_02.jpg') no-repeat top center;">
        <div class="container-fluid">
            <div class="col-md-12">
                <h1>Create Options Set</h1>
            </div>
        </div>
    </section>
    <hr>
	<div class="container-fluid attribute-sets" id="start-offset" style="min-height: 100%">
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
	</div>

		<%-include(scripts) %>
			<%-include(background) %>

</body>

</html>