<!DOCTYPE html>
<html lang="">
	<head>
		<%- include ../vendors/globalComponents/head%>		
	</head>
	<body>
		<h1 class="text-center">Hello World</h1>


		<%- include ../vendors/globalComponents/footer%>		
	</body>
</html>